%%-*- mode: erlang -*-
{plugins, [rebar3_format]}.

{erl_opts, [
    debug_info, {parse_transform, lager_transform}
]}.

{deps, [
        {cluster, {git, "https://github.com/pedro-gutierrez/cluster", {tag, "0.1.0"}}}
       ]}.

{relx, [
        {release, { clusterl, "0.1.0" },
         [
          inets,
          sasl,
          ssl,
          eunit,
          prometheus,
          cowboy,
          cluster,
          mnesia,
          lager,
          reunion
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{overrides, [
             {del, [{erl_opts, [warnings_as_errors]}]}
            ]}.
